@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Perandory-Condensed";
  src: url("./assets/fonts/Perandory-Condensed.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* @font-face {
  font-family: "Helix-Regular";
  src: url("./assets/fonts/helix-regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
} */

@font-face {
  font-family: "PlacardNextRegular-Condensed";
  src: url("./assets/fonts/PlacardNextRegular.TTF") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.gradient-premium {
  background: linear-gradient(
    120deg,
    #77530a,
    #ffd277,
    #fff3c4,
    #ffd277,
    #77530a
  );
  background-size: 250% 100%;
  background-position: 0% 50%;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;

  animation: premiumMove 6s ease-in-out infinite;
}

@keyframes premiumMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* * {
  border: 1px red solid;
} */
